<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All test">
<!--<suite name="All test" parallel="classes" thread-count="3">-->
    <test name="Tests with xml">
        <classes>
            <class name="api.tests.api.BoardApiTest"/>
            <class name="api.tests.api.CardsApiTest"/>
            <class name="api.tests.api.ListsApiTest"/>
        </classes>
    </test>
</suite>