<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All test" >
    <test name="Tests API with xml">
        <classes>
            <class name="api.tests.api.BoardApiTest"/>
            <class name="api.tests.api.ListsApiTest"/>
            <class name="api.tests.api.CardsApiTest"/>
            <class name="api.tests.api.LabelsApiTest"/>
            <class name="api.tests.api.ActionsAPITest"/>
            <class name="api.tests.api.ChecklistsAPITest"/>
            <class name="api.tests.api.MembersAPITest"/>
        </classes>
    </test>
    <test name="Test UI with xml">
        <classes>
            <class name="api.tests.ui.BoardsUiTest"/>
        </classes>
    </test>
    <test name="Test Cucumber with xml">
        <classes>
            <class name="api.cucumber.runners.CucumberRunnerTest"/>
        </classes>
    </test>
</suite>